<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализ Сайта</title>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
<table>
    <tr><th>Название сайта</th><th>Описание</th><th>Минусы</th><th>Плюсы</th></tr> <!--ряд с ячейками заголовков-->
    <tr><td> <a href="https://lms.synergy.ru/student/up"> Synergy Learning System</td><td>Сайт создан для учеников и студентов университета,
        <br>там можно смотреть расписание, дз, свой балл,
        <br>взаимодействовать с преподователями,
        <br>смотерть список документов, обратиться в деканат  </td><td>Из минусов готов подметить неудобную новигацию,
        <br>а также то, что мне до сих пор некуда отправить свое дз в лк сайта</td><td>Готов подметить что сайт имеет приятный глазу дизайн,
        <br>он интуитивно понятен пользователю, так же я не замечал за ним никаких зависаний,
        <br>также сайт имеет своего собственного провайдера</td></tr> <!--ряд с ячейками тела таблицы-->
</table>
</body>
</html>